*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
    --clr-violet: hsl(257, 40%, 49%);
    --clr-magenta: hsl(300, 69%, 71%);

    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fs: 16px;

    --fw-bold: 600;
    --fw-normal: 400;
}

h1 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-bold);
}

p {
    font-family: var(--ff-body);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    letter-spacing: .6px;
}

img {
    max-width: 100%;
}

body {
    background-image: url(images/bg-mobile.svg);
    background-color: var(--clr-violet);
    padding: 2em;
    color: #fff;
}

@media only screen and (min-width: 800px) {
    body {
        background-image: url(images/bg-desktop.svg);
        background-position: center;
        height: 100vh;
        display: grid;
        align-items: center;
        padding: 0 3em;
    }
}
.logo {
    width: 8em;
    margin: 1em 0;
}

.image__img {
    margin: 3em auto;
}

@media only screen and (min-width: 800px) {
    .image__img {
        width: 600px;
        margin: 2em auto;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



.text {
    text-align: center;
    margin: 2em auto;
}

.text__header {
    margin: 1em auto;
    padding: 0 .6em;
}

.text__body {
    margin-bottom: 1em;
}

.text__button {
    outline: none;
    border: none;
    background-color: #fff;
    color: var(--clr-violet);
    padding: .8rem 5rem;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
    font-weight: var(--fw-bold);
    transition: background-color 250ms ease-in-out;
    font-family: var(--ff-heading);
    opacity: .9;
}

.text__button:hover {
    background-color: var(--clr-magenta);
    color: #fff;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    .text {
        text-align: left;
        padding: 1.5em 3.8em;
    }

    .text__header {
        font-size: 2.5rem;
        padding: 0;
        margin: 0
    }

    .text__body {
        margin: 1.5em auto;
    }

    .text__button {
        padding: .8em 3.6em;
        font-size: 1.05rem;
    }
}

.link-wrap {
    display: flex;
    justify-self: center;
    margin: 4em auto 2em;
    justify-content: space-between;
    max-width: 7rem;
    padding: 0;
}

.link {
    list-style: none;
}

.link_links {
    color: #fff;
    opacity: 0.8;
    transition: color 250ms ease-in-out;
    font-size: 1rem;
}

.link_links:hover {
    color: var(--clr-magenta);
}

@media only screen and (min-width: 800px) {
    .link-wrap {
        max-width: unset;
        justify-content: unset;
        text-align: right;
        margin: unset;
        float: right;
        margin-top: -4em;
    }

    .link_links {
        font-size: 1.2rem;
    }
}